*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  overflow: hidden;
  font-family: "Permanent Marker", cursive;
  font-family: "Sixtyfour", sans-serif;
  color: #000000;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  position: absolute; /* ensure grid covers container */
  top: 0;
  left: 0;
  z-index: 1;
}

.grid > div {
  background-size: cover;
  background-position: center;
}

.flex-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  gap: 225px;
  z-index: 2;
}

.header {
  z-index: 2;
  font-size: 28px;
  width: 67%;
}

#title {
  min-height: 112px;
}

.content {
  z-index: 2;
  font-size: 24px;
  width: 67%;
}

#sub-title {
  min-height: 80px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

button {
  background-color: #ffc0cb;
  color: black;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 40px;
  transition: background-color 0.3s, transform 0.1s;
  font-family: inherit;
  display: inline-block;
}

button:hover {
  background-color: #ff73a2;
  transform: scale(1.02);
}

button:active {
  background-color: #ff73a2;
  transform: scale(0.98);
}

.images > img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid grey;
}

.respond:hover {
  transform: scale(1.05);
}

.respond:active {
  transform: scale(1);
}
